.app-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--item-color);
    height: 3rem;
    padding: 0 10%;
}

.toolbar-btns {
    display: flex;
}

.toolbar-btn {
    border-bottom: 0.1rem solid transparent;
    transition: 0.2s ease;
    background-color: transparent;
    margin: 0 1.5rem;
    cursor: pointer;
}

.toolbar-btn:hover {
    border-bottom: 0.1rem solid var(--primary-color);
}

.toolbar-btn-active {
    border-bottom: 0.1rem solid var(--primary-color);
}
