* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primary-color: #008cff;
    --item-color: #e2e2e2;
}

.app-logo {
    height: 18vh;
    width: 8vw;
}

.app-logo-toolbar {
    width: 5vw;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    padding: 2rem;
    border-radius: 0.6rem;
    background-color: var(--item-color);
    opacity: 0.95;
}

.input-margin {
    margin: 0.3rem;
    width: 100%;
}

.btn-margin {
    margin: 0.3rem;
}

.login-left-btns {
    width: 100%;
    text-align: right;
    color: var(--primary-color);
}

.feed-container {
    display: flex;
}

.user-card {
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 25rem;
    height: 15rem;
    background-color: var(--item-color);
}
